.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.a{
    fill : #fff;
    stroke : url("#linearGrad");
}

.b{
  fill : RGB(255,31,117);
}

.b text{
  color:#fff;
}

* { font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; }

text{
  pointer-events: none;
}

foreignObject.base{
  pointer-events: none;
}

foreignObject.detail{
  display: none;
  pointer-events: none;
}

div.stock-name{
  padding-top:32px;
  font-weight: bold;
  font-size: 18px;
}

div.stock-code{
  padding:1px 0px;
  font-size: 14px;
  font-weight: bold;
  color:#939393;
}

div.stock-values {
  font-weight: bold;
}
div.stock-values.up{
  color: #ff1b05;
}

div.stock-values.down{
  color: #1e8df9;
}

div.stock-values div.stock-price{
  font-size: 20px;
}

div.stock-values div.stock-fluct{
  padding-top:1px;
  font-size: 13px;
}
hr{
  background-color:#939393;
  width:82%;
}

