* { font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; }

text{
    pointer-events: none;
}

foreignObject.base{
    pointer-events: none;
}

foreignObject.detail{
    display: none;
    pointer-events: none;
}

div.stock-name{
    padding-top:17%;
    font-weight: bold;
    font-size: 18px;
}

div.stock-code{
    padding:1px 0px 6px 0px;
    font-size: 14px;
    font-weight: bold;
    color:#939393;
}

div.stock-values {
    font-weight: bold;
}

div.up{
    color: #ff1b05;
}

div.down{
    color: #1e8df9;
}

div.stock-values div.stock-price{
    font-size: 20px;
}

div.stock-values div.stock-fluct{
    padding-top:1px;
    font-size: 13px;
}

div.keyword-name{
    letter-spacing: 1px;
    padding-top:72px;
    font-size:18px;
    color:#fff;
}

div.detail-name-code{
    margin: 9% auto 0px auto;
}
div.detail-name{
    font-weight: bold;
    font-size:17px;
    display: inline;
    width:50%;
}

div.detail-code{
    width:50%;
    display: inline;
    padding-left:5px;
    font-size: 14px;
    font-weight: bold;
    color:#939393;
}

div.detail-values{
    margin: 0 auto;
    font-weight: bold;
}

div.detail-price{
    width:50%;
    display: inline;
    font-size: 20px;
}

div.detail-fluct{
    width:50%;
    display: inline;
    padding-top:1px;
    font-size: 13px;
    padding-left:5px;
}

div.detail-detail-values{
    margin-top:3%;
}

div.detail-detail-values div.inner-values{
    width:40%;
    display: inline-block;
    margin:0 auto;
}

div.detail-detail-values div.inner-values div{
    width:40%;
    display: inline-block;
    text-align: left;
    font-size:14px;
}

div.detail-detail-values div.inner-values div.title{
    color:#939393;
}

div.detail-detail-values div.inner-values div.value{
    font-weight: bold;
}

div.article div.inner{
    width:70%;
    display: inline-block;
    marign: 0 auto;
}
div.article div.inner div.title{
    width:70%;
    display: inline-block;
    text-align: left;
    font-weight: bold;
    font-size:13px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

div.article div.inner div.date{
    display: inline-block;
    width:30%;
    text-align: left;
    font-size:10px;
    vertical-align: top;
}

/*div.circle-bottom{*/
/*position: relative;*/
/*bottom:-50px;*/
/*border:1px solid gray;*/
/*width:380px;*/
/*margin: 0 auto;*/
/*height:79px;*/
/*border-radius: 47% / 100%;*/
/*border-bottom-left-radius: 0;*/
/*border-bottom-right-radius: 0;*/
/*transform: rotate(180deg);*/
/*}*/

div.circle-bottom{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    border-radius: 50%;
    overflow:hidden;
}

div.circle-bottom:before{
    position:absolute;
    content:'';
    bottom:0;
    height:12%;
    left:0;
    right:0;
    background: rgb(128,6,119);
    background: linear-gradient(90deg, rgba(128,6,119,1) 0%, rgba(182,9,164,1) 40%, rgba(255,15,119,1) 100%);
}

div.chat-enter{
    position: absolute;
    left:37%;
    bottom:4%;
    color:#fff;
    font-size:16px;
}

div.chat-enter i{
    margin-right:9px;
    font-size: 26px;
}

div.chat-enter span{
    vertical-align: top;
}

div.header{
    width:100%;
    height:48px;
    margin: 0 auto;
    position:absolute;
}

div.header div.search{
    float:left;
    width:48px;
    height:48px;
    padding-left:10px;
}

div.header div.search i{
    font-size: 25px;
    padding-top:10px;
    color: rgba(255,15,119,1);
}

div.header div.logo{
    text-align: center;
    display: inline;

}

div.header div.logo img{
    height:50px;
}

div.header div.menu{
    float:right;
    width:48px;
    height:48px;
    padding-right:10px;
}

div.header div.menu i{
    font-size: 30px;
    padding-top:10px;
    color: rgba(255,15,119,1);
}

hr.border{
    margin-top:20px;
}
